@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex">

    <div style="width:300px;">
        <svelte-logo/>    
    </div>
    
    <svelte-app id="darren" name="Darren" />

</div>

<div style="height:500px">
    <svelte-checklist />
</div>
